
:root {
  font-family: "Inter", 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #d5d5d5;
  background-color: #242424;
  background: linear-gradient(180deg, black 0%, #2B2B2B 100%);
  background-repeat: no-repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overscroll-behavior: none;
}


* {
  margin: 0;
}

#root {
  width: 100%;
} 

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

button {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
  color: #D31145;
  background-color: #d5d5d5;
}

.title {
    font-size: 1.8rem;
}

.bento {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 6vw;
}

.box { 
  padding: 20px;
  background: #282828;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.box-2 {
  padding: 20px;
  background: #282828;
  border-radius: 10px;
  width: 100%;
  gap: 2vh;
}

.card {
  padding: 1rem;
  background-color: #494949;
  border-radius: 10px;
  text-align: center;
}

h1 {
  padding: 1vw;
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
font-size: 1.2rem;
}

label {
font-size: 1.2rem
}

ul {
  font-size: 1.4rem;
  margin: 0;
}

input {
  line-height: 1.6rem;
  background-color: #c3c1c1;
  border: none;
  border-radius: 50px;
  padding: 0px 10px;
  max-width: 240px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
